This series of notebooks are my solutions to [Kaggle scavenger hunt SQL challenge]

# Scavenger hunt
___

Now it's your turn! Here's the questions I would like you to get the data to answer:

* Which countries use a unit other than ppm to measure any type of pollution? (Hint: to get rows where the value *isn't* something, use "!=")
* Which pollutants have a value of exactly 0?

In order to answer these questions, you can fork this notebook by hitting the blue "Fork Notebook" at the very top of this page (you may have to scroll up).  "Forking" something is making a copy of it that you can edit on your own without changing the original.

In [2]:
# My Solution
import bq_helper
open_aq = bq_helper.BigQueryHelper(active_project = "bigquery-public-data",
                                  dataset_name = 'openaq')
open_aq.list_tables()

['global_air_quality']

In [3]:
open_aq.head('global_air_quality')

,location,city,country,pollutant,value,timestamp,unit,source_name,latitude,longitude,averaged_over_in_hours
0,Mobile_Cle Elum,037,US,pm25,0.00,2017-09-26 20:00:00+00:00,µg/m³,AirNow,47.197630,-120.958230,1.0
1,Mobile_WhiteSalmon,039,US,pm25,0.00,2017-09-26 20:00:00+00:00,µg/m³,AirNow,45.732414,-121.492330,1.0
2,Mobile_Newport,051,US,pm25,0.00,2017-09-21 18:00:00+00:00,µg/m³,AirNow,48.186485,-117.049160,1.0
3,FR20047,Ain,FR,no2,45.40,2018-02-13 07:00:00+00:00,µg/m³,EEA France,45.823223,4.953958,1.0
4,FR20047,Ain,FR,o3,2.13,2018-02-13 07:00:00+00:00,µg/m³,EEA France,45.823223,4.953958,1.0

In [4]:
open_aq.table_schema('global_air_quality')

[SchemaField('location', 'string', 'NULLABLE', 'Location where data was measured', ()),
 SchemaField('city', 'string', 'NULLABLE', 'City containing location', ()),
 SchemaField('country', 'string', 'NULLABLE', 'Country containing measurement in 2 letter ISO code', ()),
 SchemaField('pollutant', 'string', 'NULLABLE', 'Name of the Pollutant being measured. Allowed values: PM25, PM10, SO2, NO2, O3, CO, BC', ()),
 SchemaField('value', 'float', 'NULLABLE', 'Latest measured value for the pollutant', ()),
 SchemaField('timestamp', 'timestamp', 'NULLABLE', 'The datetime at which the pollutant was measured, in ISO 8601 format', ()),
 SchemaField('unit', 'string', 'NULLABLE', 'The unit the value was measured in coded by UCUM Code', ()),
 SchemaField('source_name', 'string', 'NULLABLE', 'Name of the source of the data', ()),
 SchemaField('latitude', 'float', 'NULLABLE', 'Latitude in decimal degrees. Precision >3 decimal points.', ()),
 SchemaField('longitude', 'float', 'NULLABLE', 'Longitude in decimal degrees. Precision >3 decimal points.', ()),
 SchemaField('averaged_over_in_hours', 'float', 'NULLABLE', 'The number of hours the value was averaged over.', ())]

In [5]:
open_aq.head("global_air_quality", selected_columns="unit", num_rows=20)

     unit
0   µg/m³
1   µg/m³
2   µg/m³
3   µg/m³
4   µg/m³
5   µg/m³
6   µg/m³
7   µg/m³
8   µg/m³
9   µg/m³
10  µg/m³
11  µg/m³
12  µg/m³
13  µg/m³
14  µg/m³
15  µg/m³
16  µg/m³
17    ppm
18    ppm
19  µg/m³

In [6]:
query = """SELECT country
            FROM `bigquery-public-data.openaq.global_air_quality`
            WHERE unit != 'ppm'
        """
open_aq.estimate_query_size(query)

0.0001949109137058258

In [7]:
countris_not_use_ppm = open_aq.query_to_pandas(query)
countris_not_use_ppm.head()

  country
0      AD
1      AD
2      AD
3      AD
4      AD

In [8]:
countris_not_use_ppm = countris_not_use_ppm.drop_duplicates()

In [9]:
countris_not_use_ppm.head()

    country
0        AD
7        AE
8        AR
12       AT
797      AU

In [10]:
query2 = """
SELECT pollutant
FROM `bigquery-public-data.openaq.global_air_quality`
WHERE value = 0
"""
pullutants_with_zero_value = open_aq.query_to_pandas(query2)

In [11]:
pullutants_with_zero_value.describe()

       pollutant
count        752
unique         7
top          so2
freq         319

In [12]:
pullutants_with_zero_value.pollutant.value_counts()

so2     319
no2     114
co      104
o3       97
pm10     65
pm25     52
bc        1
Name: pollutant, dtype: int64

Please feel free to ask any questions you have in this notebook or in the [Q&A forums](https://www.kaggle.com/questions-and-answers)! 

Also, if you want to share or get comments on your kernel, remember you need to make it public first! You can change the visibility of your kernel under the "Settings" tab, on the right half of your screen.